Package: io.github.spotlighishere.internallock6
Name: InternalLock
Depends: mobilesubstrate, firmware (>= 6.0), ws.hbang.common (>= 1.2), preferenceloader
Version: 1.1
Architecture: iphoneos-arm
Description: Apple's internal contact information on your lock screen.
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: John Smith <awesomebing1@gmail.com>
Section: Tweaks
